#fondo{
    background-color: #000000;
}

#fondo-main{
    position: absolute;
    background-color: #6e18beee;
    width: 25%;
    height: 100%;
    left: 40%;
}

#div-fondo{
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0%;
}

#div-logo{
    width: 40%;
    position: absolute;
    z-index: 100;
    top: 4%;
    left:5%;
}

#div-imagen{
    width: 90%;
    position: absolute;
    z-index: 200;
    top: 14%;
    left: 5%;
}

#div-texto{
    text-align: center;
    width: 90%;
    color: #ffffff;
    position: absolute;
    top: 45%;
    right: 5%;
}

#titulo{
    font-size: 30px;
    color: #ffffff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#contenido{
    font-size: 18px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 25px;
}

#div-regresar{
    width: 12%;
    height: 5%;
    position: absolute;
    color: #6e18beee;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    top: 5%;
    right: 5%;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgb(87, 87, 87);
    border: none;
    transition: 1s;
}

#div-regresar:hover{
    background:  hsl(300, 69%, 71%);
    color: #ffffff;
    transition: 0.5s;
}


#div-boton{
    width: 65%;
    height: 5%;
    position: absolute;
    color: #6e18beee;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    top: 75%;
    right: 17%;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgb(87, 87, 87);
    border: none;
    transition: 1s;
}

#div-boton:hover{
    background:  hsl(300, 69%, 71%);
    color: #ffffff;
    transition: 0.5s;
}

#div-derecha{
    width: 4%;
    position: absolute;
    bottom: 50%;
    left: 2%;
    filter: invert(1);
}

#div-derecha:hover{
    filter: contrast(0%) sepia(3) hue-rotate(600deg) saturate(300%);
}

#div-face{
    width: 10%;
    position: absolute;
    z-index: 200;
    bottom: 5%;
    left: 20%;
    filter: invert(1);
}

#div-face:hover{
    filter: contrast(0%) sepia(3) hue-rotate(600deg) saturate(300%);
}

#div-insta{
    width: 10%;
    position: absolute;
    z-index: 200;
    bottom: 5%;
    right: 45%;
    filter: invert(1);
}

#div-insta:hover{
    filter: contrast(0%) sepia(3) hue-rotate(600deg) saturate(300%);
}

#div-twi{
    width: 10%;
    position: absolute;
    z-index: 200;
    bottom: 5%;
    right: 20%;
    filter: invert(1);
}

#div-twi:hover{
    filter: contrast(0%) sepia(3) hue-rotate(600deg) saturate(300%);
}