<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/normaliza.css">
    <link rel="stylesheet" href="../css/movil.css">
    <title>Document</title>
</head>
<body id="fondo">

    <a href="desktop.html"><img id="div-derecha" src="../images/icon/circle-arrow-left-solid.svg" alt=""></a>

    <button id="div-regresar" onclick="location.href='../index.html';">Regresar</button>

    <main>
        <div id="fondo-main">
            <img id="div-logo" src="../images/logo.svg" alt="">
            <img id="div-fondo" src="../images/bg-mobile.svg" alt="">
            <img id="div-imagen" src="../images/illustration-mockups.svg" alt="">
            <div id="div-texto">
                <h2 id="titulo">Build The Community Your Fans Will Love</h2>
                <br>
                <p id="contenido">Huddle re-imagines the way we build communities. You have a voice, but so doees your audience. Create connections with your users as you engage in genuide discussion.</p>
            </div>

            <button id="div-boton" onclick="location.href='./desktop.html';">Register</button>
            
            <a href="https://es-la.facebook.com/"><img id="div-face" src="../images/icon/facebook.svg" alt=""></a>
            <a href="https://www.instagram.com/"><img id="div-insta" src="../images/icon/instagram.svg" alt=""></a>
            <a href="https://twitter.com/?lang=es"><img id="div-twi" src="../images/icon/twitter.svg" alt=""></a>
        </div>
    </main>
</body>
</html>